In [1]:
print("Hello World")

Hello World

In [8]:
import pandas as pd
ps = pd.Series([10,20,30,40])

In [17]:
ps[:3]

0    10
1    20
2    30
dtype: int64

In [21]:
ps = pd.Series([10,20,30,40,50,60,70,80,90,100])

In [19]:
ps[:]

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [20]:
ps[1:]

1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [22]:
ps[4:]

4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [23]:
ps[:5]

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [24]:
ps[1:8]

1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [25]:
datas = [10, 20, 30, 40, 50]

In [26]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [27]:
datas_tp = (59, 60, 25, 32)

In [28]:
df = pd.DataFrame(datas_tp) #Tuple
df

    0
0  59
1  60
2  25
3  32

In [29]:
# Addition Column
cols = ['Age']
df = pd.DataFrame(datas_tp, columns=cols)
df

   Age
0   59
1   60
2   25
3   32

In [33]:
datas = [['keyboard', 'IT',4000],['Doll', 'Toy', 500],['mouse', 'IT', 300],['Iphone12','Mobile',40000]]
cols = ['product_name', 'category', 'price']
df = pd.DataFrame(datas, columns=cols)
df

  product_name category  price
0     keyboard       IT   4000
1         Doll      Toy    500
2        mouse       IT    300
3     Iphone12   Mobile  40000

In [35]:
#use Zip To create DataFrame
product_name = ['keyboard', 'Doll','mouse']
category = ['IT', 'Toy', 'IT']
price = [400, 500, 300]
datas = list(zip(product_name,category,price))
cols = ['product_name', 'category', 'price']
df = pd.DataFrame(datas, columns=cols)
df

  product_name category  price
0     keyboard       IT    400
1         Doll      Toy    500
2        mouse       IT    300

In [10]:
#Create DataFrame from dictionary
import pandas as pd

products = [
    {"Name":"Keyboard","Category":"Hardware","Price":500},
    {"Name":"Mouse","Category":"Hardware","Price":300},
    {"Name":"Doll","Category":"Toy","Price":900},
    {"Name":"Durian","Category":"Fruit","Price":70}
]

In [13]:
df = pd.DataFrame(products)
df

       Name  Category  Price
0  Keyboard  Hardware    500
1     Mouse  Hardware    300
2      Doll       Toy    900
3    Durian     Fruit     70

In [16]:
#Set Index use by column
df.set_index(["Name"], inplace=True)

In [17]:
df

          Category  Price
Name
Keyboard  Hardware    500
Mouse     Hardware    300
Doll           Toy    900
Durian       Fruit     70

In [18]:
#Create Data frame from series
name = ['keyboard', 'mouse', 'Doll']
category = ['Hardware', 'Hardware', 'Toy']
price = [500, 300,900]

In [19]:
#Series
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

In [21]:
frame = {"Name":name_series, "Category":category_series, "Price":price_series}

In [22]:
df = pd.DataFrame(frame)
df

       Name  Category  Price
0  keyboard  Hardware    500
1     mouse  Hardware    300
2      Doll       Toy    900

In [23]:
df.set_index(["Name"], inplace=True)
df

          Category  Price
Name
keyboard  Hardware    500
mouse     Hardware    300
Doll           Toy    900

## Export Dataframe to CSV file

In [29]:
df.to_csv("products.csv")

### Read Data From CSV file

In [30]:
dfs = pd.read_csv(r"D:\Learning_code\Python_Tutorial\products.csv", encoding="utf-8")

In [31]:
dfs

       Name  Category  Price
0  keyboard  Hardware    500
1     mouse  Hardware    300
2      Doll       Toy    900

In [34]:
cols = ["Name","Price"]
dfs = pd.read_csv(r"D:\Learning_code\Python_Tutorial\products.csv", encoding="utf-8", usecols=cols, 
                  index_col="Name")
dfs

          Price
Name
keyboard    500
mouse       300
Doll        900

In [35]:
dfs = pd.read_csv(r"D:\Learning_code\Python_Tutorial\products.csv", encoding="utf-8", index_col="Name")
dfs

          Category  Price
Name
keyboard  Hardware    500
mouse     Hardware    300
Doll           Toy    900

In [37]:
pd.read_csv("products3.csv")

  keyboard  Hardware  500
0    mouse  Hardware  300
1     Doll       Toy  900

In [38]:
colsname = ["name", "catagory", "price"]
df = pd.read_csv("products3.csv", encoding="utf-8", names=colsname)
df

       name  catagory  price
0  keyboard  Hardware    500
1     mouse  Hardware    300
2      Doll       Toy    900

### Read Excel

In [43]:
import pandas as pd
df = pd.read_excel("dataupdate.xlsx", "weather", index_col="Day")
df

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [44]:
df.head(5)

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [22]:
df.sample(4)

            Temperature  WindSpeed   Event
Day
2020-12-18           18          5    ฝนตก
2020-12-02           28          8  เมฆมาก
2020-12-20           28          4  เมฆมาก
2020-12-29           31          1    ฝนตก

In [21]:
df.tail(3)

            Temperature  WindSpeed   Event
Day
2020-12-28           30          2  เมฆมาก
2020-12-29           31          1    ฝนตก
2020-12-30           35          2    ฝนตก

In [23]:
df.describe()

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [25]:
df.shape

(30, 3)

In [30]:
df.columns

Index(['Temperature', 'WindSpeed', 'Event'], dtype='object')

In [31]:
df.values

array([[30, 9, 'แดดร้อน'],
       [28, 8, 'เมฆมาก'],
       [27, 4, 'ฝนตก'],
       [19, 3, 'แดดร้อน'],
       [20, 5, 'เมฆมาก'],
       [25, 6, 'ฝนตก'],
       [36, 4, 'ฝนตก'],
       [28, 6, 'ฝนตก'],
       [17, 5, 'เมฆมาก'],
       [24, 6, 'แดดร้อน'],
       [26, 4, 'ฝนตก'],
       [27, 9, 'แดดร้อน'],
       [30, 2, 'แดดร้อน'],
       [31, 5, 'เมฆมาก'],
       [28, 4, 'แดดร้อน'],
       [27, 7, 'แดดร้อน'],
       [20, 8, 'ฝนตก'],
       [18, 5, 'ฝนตก'],
       [25, 7, 'แดดร้อน'],
       [28, 4, 'เมฆมาก'],
       [25, 5, 'เมฆมาก'],
       [38, 2, 'เมฆมาก'],
       [34, 3, 'ฝนตก'],
       [29, 4, 'ฝนตก'],
       [34, 5, 'แดดร้อน'],
       [25, 8, 'ฝนตก'],
       [28, 9, 'เมฆมาก'],
       [30, 2, 'เมฆมาก'],
       [31, 1, 'ฝนตก'],
       [35, 2, 'ฝนตก']], dtype=object)

In [34]:
df["Temperature"].sum()

823

In [35]:
df["Temperature"].max()

38

In [38]:
round(df.Temperature.mean(),2)

27.43

### Slicer By Column

In [51]:
df.Temperature[:]

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
2020-12-07    36
2020-12-08    28
2020-12-09    17
2020-12-10    24
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
2020-12-21    25
2020-12-22    38
2020-12-23    34
2020-12-24    29
2020-12-25    34
2020-12-26    25
2020-12-27    28
2020-12-28    30
2020-12-29    31
2020-12-30    35
Name: Temperature, dtype: int64

In [48]:
df.Temperature[0:3]

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
Name: Temperature, dtype: int64

In [50]:
df.Temperature[10:20]

Day
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
Name: Temperature, dtype: int64

In [55]:
df[["Temperature","Event"]][1:4]

            Temperature    Event
Day
2020-12-02           28   เมฆมาก
2020-12-03           27     ฝนตก
2020-12-04           19  แดดร้อน

### Slicer By Row

In [56]:
df[:5]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [59]:
df[0:3].Event

Day
2020-12-01    แดดร้อน
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
Name: Event, dtype: object

In [64]:
import pandas as pd
df = pd.read_excel("dataupdate.xlsx", "weather", index_col="Day")

In [69]:
df[0:3].Event

Day
2020-12-01    แดดร้อน
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
Name: Event, dtype: object

In [70]:
# Case use some Columns to Index Like Day column

df.loc["2020-12-02":"2020-12-15"]["Event"]

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
2020-12-11       ฝนตก
2020-12-12    แดดร้อน
2020-12-13    แดดร้อน
2020-12-14     เมฆมาก
2020-12-15    แดดร้อน
Name: Event, dtype: object