In [1]:
print("Hello World")

Hello World

In [8]:
import pandas as pd
ps = pd.Series([10,20,30,40])

In [17]:
ps[:3]

0    10
1    20
2    30
dtype: int64

In [21]:
ps = pd.Series([10,20,30,40,50,60,70,80,90,100])

In [19]:
ps[:]

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [20]:
ps[1:]

1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [22]:
ps[4:]

4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [23]:
ps[:5]

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [24]:
ps[1:8]

1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [25]:
datas = [10, 20, 30, 40, 50]

In [26]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [27]:
datas_tp = (59, 60, 25, 32)

In [28]:
df = pd.DataFrame(datas_tp) #Tuple
df

    0
0  59
1  60
2  25
3  32

In [29]:
# Addition Column
cols = ['Age']
df = pd.DataFrame(datas_tp, columns=cols)
df

   Age
0   59
1   60
2   25
3   32